:root {
  /* !Logo */
  --logo-first-color: #2196f3;
  --logo-second-color: #000000;
  /* !header */
  --header-first-text-color: #212121;
  --header-second-text-color: #757575;
  --header-text-hover-color: #2196f3;
  --nav-margin-left: 50px;
  /* !footer */
  --footer-first-text-color: #757575;
  --footer-second-text-color: #2196f3;
  --footer-addres-text-color: #ffffff;
  --footer-background-color: #2f303a;
  --footer-logo-second-color: #ffffff;

  /* !title */
  --title-first-text-color: #ffffff;
  --title-second-text-color: #212121;
  /* !text */
  --second-text-color: #212121;
  --first-text-color: #757575;
  /* !button */
  --button-text-color: #212121;
  --button-hover-text-color: #ffffff;
  --button-background-color: #f5f4fa;
  --button-background-hover-color: #2196f3;
  /* !hero */
  --hero-title-color: #ffffff;
  --hero-button-color: #212121;
  --hero-button-hover-color: #ffffff;
  --hero-button-bacground-color: #f5f4fa;
  --hero-button-bacground-hover-color: #2196f3;
  --hero-background-color: #2f303a;
  /* !background */
  --background-first-color: #ffffff;
  --background-second-color: #f5f4fa;
  /*  !Width card */
  --width-card-thin: 270px;
  --width-card-thick: 370px;

  /*  ! margin  padding */
  --margin-padding-witch-block: 94px;
  --margin-title-bottom: 50px;
}

/*     Body          */
body {
  background-color: var(--background-first-color);
  font-family: 'Roboto', sans-serif;
  color: var(--first-text-color);
}

/*     !CONTAINER    */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/*     !FLEX         */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*     !bottom      */
.bottom {
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
}

/*      Header    */
.header {
  padding-top: 24px;
  height: 80px;
  border-bottom: 1px solid #ececec;
}
.header-nav {
}
.logo {
  text-decoration: none;

  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--logo-second-color);
}
.logo-first-color {
  color: var(--logo-first-color);
}
.nav-list {
  list-style-type: none;
  margin-left: 92px;
}
.nav-item,
.nav-item-link {
  color: var(--header-first-text-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-item + .nav-item {
  margin-left: var(--nav-margin-left);
}

.current {
  color: red;
}
.nav-item:hover,
.nav-item:focus,
.nav-item-link:hover,
.nav-item-link:focus,
.header-item-link:focus,
.header-item-link:hover {
  color: var(--header-text-hover-color);
}

.header-list {
  list-style-type: none;
  margin-left: auto;
}
.header-item + .header-item {
  margin-left: var(--nav-margin-left);
}
.header-item-link {
  color: var(--header-second-text-color);
  text-decoration: none;
}

/*          Footer    */

.footer {
  background-color: var(--footer-background-color);
}
.footer-logo {
  text-decoration: none;

  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--footer-logo-second-color);
}

.footer-linc {
}
.footer-list {
  list-style: none;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: left;
}
.footer-item-addres-link {
  color: var(--footer-addres-text-color);
}
.footer-item-link {
  color: var(--footer-first-text-color);
}
.footer-item-link:hover,
.footer-item-link:focus,
.footer-item-addres-link:focus,
.footer-item-addres-link:hover {
  color: var(--footer-second-text-color);
}

/*     index.html    */
/*      Hero         */
.main {
}
.hero {
  background-color: var(--hero-background-color);
  text-align: center;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: var(--hero-title-color);

  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
.hero-button {
  color: var(--hero-button-hover-color);
  background-color: var(--hero-button-bacground-hover-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 32px;
  margin-left: auto;
}
/* .hero-button:hover {
  color: var(--hero-button-color);
  background-color: var(--hero-button-bacground-color);

} */
/*       Doing      */
.doing {
  padding-top: var(--margin-padding-witch-block);
  margin-bottom: var(--margin-padding-witch-block);
}
.doing-list {
  list-style: none;
}
.doing-item {
  display: inline-block;
  margin-bottom: var(--margin-padding-witch-block);
}
.doing-item + .doing-item {
  margin-left: 30px;
}
.doing-item-title {
  color: var(--second-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  width: var(--width-card-thin);
  margin-bottom: 10px;
}
.doing-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}
.doing-title {
  color: var(--second-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: var(--margin-title-bottom);
}
.doing-images {
  list-style: none;
}
.doing-images-item {
}
.doing-image {
  width: var(--width-card-thick);
}
/*      We         */
.we {
  background-color: var(--background-second-color);
  padding-top: var(--margin-padding-witch-block);
}
.we-title {
  color: var(--title-second-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: var(--margin-title-bottom);
}
.we-list {
  list-style: none;
  text-align: center;
  margin-bottom: 94px;
}
.we-item {
  width: var(--width-card-thin);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.we-image {
  display: inline-block;
  margin-bottom: 30px;
}
.we-item-title {
  color: var(--title-second-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;

  text-align: center;
}
.we-item-text {
  font-size: 16px;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

/* !portfolio.html */
.portfolio {
}
.filter-list {
  list-style: none;
}
.filter-button {
  color: var(--button-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--button-hover-text-color);
  background-color: var(--button-background-hover-color);
}
.galery-list {
  list-style: none;
}
.galery-article {
}
.article-linc {
  text-decoration: none;
}
.article-img {
  width: 370px;
}
.article-title {
  text-decoration: none;
  color: var(--title-second-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.article-p {
  color: var(--first-text-color);
  font-size: 16px;
  font-style: normal;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
}
